#filter-row select.form-control {
  width: 150px;
  margin-right: 25px;
}

#filter-row div.checkbox {
  width: 75px;
}

#log-history {
  margin-top: 25px;
}

#log-history .panel {
  cursor: pointer;
  user-select: none;
  margin-bottom: 0;
}

#log-history .panel {
  border-radius: 0;
  background-color: #F3F3F3;
}

#log-history div:first-child > div > .panel {
  border-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#log-history div:last-child > div > .panel {
  border-radius: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#log-history .panel p {
  margin-bottom: 5px;
}

#log-history .panel .desc {
  margin-bottom: 5px;
  font-weight: bold;
}

#log-history .panel.collapsed .desc {
  margin-bottom: 0px;
  font-weight: normal;
}

#log-history .panel.collapsed .desc {
  width: calc(100% - 320px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#log-history .panel .notes {
  max-height: 240px;
  overflow: auto;
}

#log-history .doc-link {
  margin-right: 10px;
}

.log-icon {
  display: inline-block;
  width: 20px;
  display: none;
}

#log-history .panel.collapsed .log-icon {
  display: inline-block;
}

#log-history .panel.collapsed .hidden-collapsed {
  display: none;
}

#log-history .hidden-expanded {
  display: none;
}
#log-history .panel.collapsed .hidden-expanded {
  display: block;
}


#log-history .panel.collapsed .call-summary  {
  float: right;
  margin: 0;
}

@media (max-width: 767px) {
  #log-history .panel .desc {
    width: calc(100% - 20px);
  }

  #filter-row select.form-control {
    width: 100%;
    margin-right: 0;
  }

  #log-history .panel.collapsed .call-summary  {
    float: none;
  }
}

#log-history .panel.collapsed .desc {
  display: inline-block;
}


#contact-log {
  position: fixed;
  left: 0px;
  bottom: -5px;
  width: 100%;
}

#contact-log .container {
  padding-left: 0px;
  padding-right: 0px;
}

#contact-log .panel {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#contact-log .panel p {
  margin-bottom: 0;
}

#contact-log .panel,
#contact-log .panel .fa-window-minimize {
  cursor: pointer;
}

#contact-log .panel.expanded {
  cursor: default;
}

#contact-log .panel #maximize-widgets {
  display: block;
}
#contact-log .panel #minimize-widgets {
  display: none;
}

#contact-log .panel.expanded #maximize-widgets {
  display: none;
}
#contact-log .panel.expanded #minimize-widgets {
  display: block;
}

#contact-log .row {
  margin-bottom: 5px;
}

#log-history {
  margin-bottom: 80px;
}

.log-history-month {
  margin-bottom: 10px;
}

.bootstrap-tagsinput {
	border-radius: 0px;
	box-shadow: inset 0 -1px 0 #ddd;
	border: none;
	width: 100%;
  height: 37px;
  padding-top: 7px;
  padding-left: 0px;
  padding-left: 0px;
  white-space: nowrap;
  background: transparent;
}

.bootstrap-tagsinput input {
  padding-left: 0px;
  padding-left: 0px;
  width: 100%;
}

.nowrap {
  white-space: nowrap;
  display: inline;
}

#contact-log .panel {
  box-shadow: 0 -2px 10px -2px rgba(0,0,0,0.6);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
     transform-origin: 50% 50%;
     animation: spin 1s infinite linear;
}
